# Google Gemini API Key
GEMINI_API_KEY=AQ.Ab8RN6KewmPXICEshMgdxIb4Qw-Vd2GM5G_H3iw4F8_yRXBikA

# Application URL
APP_URL=http://localhost:3000

# JWT Secret
JWT_SECRET=1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!@#$%^&*()

# PostgreSQL Database
SQL_HOST=localhost
SQL_USER=postgres
SQL_PASSWORD=123
SQL_DB_NAME=internship_db